.calendar {
    margin-bottom: 27px;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__prev-svg, &__next-svg {
        width: 9px;
        height: 16px;
    }

    &__prev-svg {
        transform: rotate(180deg);
    }

    &__list {
        max-width: 300px;
        width: 100%;
        border: 2px solid red;
        white-space: nowrap;
        overflow: hidden;
    }

    &__item {
        border: 1px solid blue;
        width: 30px;
        display: inline-block;
        transform: translateX(-45px);
    }

    &__item + &__item {
        margin-left: 15px;
    }

 

    &__heading {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.30000001192092896px;
        text-align: center;
        color: #1E293B;
        margin-bottom: 2px;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.30000001192092896px;
        text-align: center;
        color: #94A3B8;
    }

    &__current-item {
        padding: 8px;
        border-radius: 33%;
        background-color: #fff0f0;

        h3 {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            color: #DE496E;
        }

        p {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #DE496E;
        }
    }
}


    


