.configure {
    background-image: url('./../assets/bg-for-add-schedule.svg');
    background-repeat: no-repeat;
    background-position: calc(50% + 50px) 0px;
    
    &__container {
        padding-top: 50px;
        position: relative;
    }

    &__go-back {
        transform: rotate(180deg);
        position: absolute;
        top: 25px;
        cursor: pointer;
    }

    &__heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        text-align: left;
        color:#1E293B;
        margin-bottom: 60px;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;
        color: #1E293B;
        margin-bottom: 15px;
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item {
        max-width: 335px;
        width: 100%;
        height: 40px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 12px;
        position: relative;
        background-color: #F1F5F9;
        border-radius: 10px;
    }

    &__item-number {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        color: #1E293B; 
    }

    &__item-line {
        height: 20px;
        width: 1px;
        border-left: 1px solid #7752FE;
    }


    &__item-time {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        color: #1E293B;
    }

    &__item-pen {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

