.radio-btns {

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__label {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        text-align: left;
        border-radius: 10px;
        padding: 8px 10px 8px 10px;
        display: flex;
        align-items: center;
        color:#1E293B;
        background-color: #F1F5F9;
        gap: 5px;
    }

    &__input:checked +  &__custom {
        background-color: #7752FE;
    }

    &__custom {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #7752FE;
    }
}
